*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #f7f7f7;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 100px;
}
.game-container
{
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background: linear-gradient(135deg, #ffffff, #e5e3e3);
    border-radius: 12px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
h1
{
    margin-bottom: 15px;
}
.sub-heading
{
    margin-bottom: 15px;
}
#guess-input,
#submit-btn
{
    margin-bottom: 15px;
}
input,
button
{
    padding: 10px 15px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #0939f7;
}
button
{
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
button:hover
{
    background-color: #0056b3;
}
#message
{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
}
#attempts
{
    margin-top: 15px;
}